*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
